av==13.1.0
einops==0.8.0
numpy==1.26.4
pandas==2.2.3
pyarrow==18.1.0
PyYAML==6.0.2
safetensors==0.4.5
sentencepiece==0.2.0
timm==1.0.12
torch==2.5.1
torchvision==0.20.1
transformers==4.46.3
pytest==8.3.4
